:root {
  --skyblue: #bcd9e7;
  --gray: #c4c4c4;
  --blending_blue: #0075df;
  --bluehover: #94bfe9;
  --principalcolor: #f5f5f5;
  --principalcoloropacity:#d4e2efa2;
  --blueColor: #407c87;
  --blackColor: #000;
  --whiteColor: #fff;
}

body {
  width: 100%;
  font-size: 16px;
  font-family: "Sen", sans-serif;
  background-color: var(--principalcolor);
}

section {
  display: grid;
  grid-template-columns: 20% auto;
}

.left-bloc, .nav_bloc {
  background-color: var(--principalcolor);
  box-shadow: 0px 0px 1px 0px var(--blackColor);
}
.left-bloc h2, .nav_bloc h2 {
  padding-left: 35px;
  margin-top: 25px;
}
.left-bloc .items, .nav_bloc .items, .nav_bloc .bar_menu {
  margin-top: 5px;
}
.left-bloc .items div, .nav_bloc .items div, .nav_bloc .bar_menu div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-top: 5px;
  padding-left: 15px;
}
.left-bloc .items div:hover, .nav_bloc .items div:hover, .nav_bloc .bar_menu div:hover {
  background-color: var(--whiteColor);
}
.left-bloc .items .dashboard, .nav_bloc .items .dashboard, .nav_bloc .bar_menu .dashboard {
  background-color: var(--whiteColor);
  padding: 10px;
  padding-left: 15px;
}

.header_items {
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  padding: 15px;
  background-color: var(--whiteColor);
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 1px 0px var(--blackColor);
}
.header .search_bar {
  border: 1px solid var(--blackColor);
  border-radius: 5px;
  padding: 5px;
}
.header .search_bar input {
  outline: none;
  border: none;
  background: none;
  font-family: "Sen", sans-serif;
}

.nav_bloc {
  display: none;
}
.nav_bloc .bar_menu {
  position: absolute;
  background-color: var(--whiteColor);
  margin-top: 94px;
  margin-left: -200px;
  transition: all 0.5s ease;
  box-shadow: 0px 0px 3px 0px var(--gray);
  width: 200px;
  height: 100vh;
  display: inline;
  z-index: 10;
  border-top-right-radius: 15px;
}
.nav_bloc .bar_menu .dashboard {
  margin-top: 15px;
  background-color: var(--principalcolor);
}
.nav_bloc .bar_menu div:hover {
  background-color: var(--principalcolor);
}
.nav_bloc .bar_menu.mobile-menu {
  margin-left: 0px;
}

.bloc-right {
  width: 100%;
}
.bloc-right .bloc-right-blocs {
  padding: 15px;
}
.bloc-right .bloc-right-blocs .bloc-right-blocs-sublocs1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.bloc-right .bloc-right-blocs .bloc-right-blocs-sublocs1 .bloc_students, .bloc-right .bloc-right-blocs .bloc-right-blocs-sublocs1 .bloc_schools, .bloc-right .bloc-right-blocs .bloc-right-blocs-sublocs1 .bloc_courses, .bloc-right .bloc-right-blocs .bloc-right-blocs-sublocs1 .bloc_incomes {
  padding: 15px;
  border-radius: 5px;
  background-color: var(--whiteColor);
  box-shadow: 0px 0px 3px 0px var(--gray);
}
.bloc-right .bloc-right-blocs .bloc-right-blocs-sublocs1 .bloc_students div, .bloc-right .bloc-right-blocs .bloc-right-blocs-sublocs1 .bloc_schools div, .bloc-right .bloc-right-blocs .bloc-right-blocs-sublocs1 .bloc_courses div, .bloc-right .bloc-right-blocs .bloc-right-blocs-sublocs1 .bloc_incomes div {
  border-left: 4px solid var(--skyblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  padding-bottom: 20px;
  padding-left: 8px;
}
.bloc-right .bloc-right-blocs .bloc-right-blocs-sublocs1 .bloc_students p, .bloc-right .bloc-right-blocs .bloc-right-blocs-sublocs1 .bloc_schools p, .bloc-right .bloc-right-blocs .bloc-right-blocs-sublocs1 .bloc_courses p, .bloc-right .bloc-right-blocs .bloc-right-blocs-sublocs1 .bloc_incomes p {
  padding-left: 15px;
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.circle-svg {
  display: block;
  min-height: 50%;
  margin-top: 10px;
}

.circle-svg text {
  text-align: center;
  color: var(--blackColor);
  font-size: 8px;
}

.circle-svg path.percent {
  stroke: var(--blackColor);
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

.circle-svg path.around {
  stroke: var(--gray);
  fill: none;
  stroke-width: 2.8;
}

.bloc-right-blocs-sublocs2 {
  display: grid;
  grid-template-columns: 48% 50%;
  margin-top: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.first_item {
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  background-color: var(--whiteColor);
  box-shadow: 0px 0px 2px 0px var(--gray);
}
.first_item .item1, .first_item .item2, .first_item .item3 {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.first_item .progress_point .item1 h5 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--skyblue);
}
.first_item .progress_point .item2 h5 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--blackColor);
}
.first_item .progress_point .item3 h5 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--principalcolor);
}

#bloc-charts {
  height: 250px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px var(--gray);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
table th, table td {
  padding: 4px 4px;
}
table tbody tr td p img {
  border-radius: 50%;
  border: 2px solid var(--white);
  width: 20px;
}
table thead tr:nth-child(odd) {
  border-top-left-radius: 5px;
}
table tbody tr:nth-child(even) {
  background-color: var(--principalcolor);
}
table tbody tr:nth-child(odd) {
  background-color: var(--whiteColor);
}
table tbody tr:first-child td:first-child {
  border-top-left-radius: 5px;
}
table tbody tr:first-child td:last-child {
  border-top-right-radius: 5px;
}
table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--blackColor);
  text-decoration: none;
}

button {
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 220px;
  margin-left: 20px;
  padding: 10px 15px;
  font-family: "Sen", sans-serif;
  font-weight: bolder;
  background-color: var(--whiteColor);
}

img {
  border-radius: 50%;
  border: 2px solid var(--white);
  width: 25px;
  border: 1px solid var(--blackColor);
}

@media (max-width: 978px) {
  .bar_menu {
    position: absolute;
    top: -33px;
  }
  .nav_bloc {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
  }
  .nav_bloc .icon {
    position: absolute;
    margin-left: 23px;
    margin-top: 18px;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .nav_bloc button {
    margin-top: 150px;
  }
  .search_bar {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 38px;
  }
  .search_bar input {
    width: 100%;
  }
  .left-bloc {
    display: none;
  }
  section {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .bloc-right-blocs-sublocs2 {
    grid-template-columns: 50%;
    row-gap: 20px;
  }
  .bloc-right-blocs-sublocs2 .first_item, .bloc-right-blocs-sublocs2 .bloc-chart {
    min-width: 200%;
  }
}
@media screen and (max-width: 768px) and (max-width: 720px) {
  .bloc-right .bloc-right-blocs .bloc-right-blocs-sublocs1 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) and (max-width: 620px) {
  .bar_menu {
    top: 5px;
  }
  .header {
    display: flex;
    flex-direction: column;
  }
  .header .header_items {
    justify-content: right;
    padding-right: 10px;
    margin-top: 8px;
  }
  #table {
    overflow: auto;
  }
  #table .table {
    width: 180%;
  }
}
@media screen and (max-width: 768px) and (max-width: 510px) {
  #table {
    margin: auto;
    max-width: 440px;
  }
  #table .table {
    width: 320%;
  }
}
@media screen and (max-width: 768px) and (max-width: 492px) {
  #table {
    margin: auto;
    max-width: 320px;
  }
  #table .table {
    width: 320%;
  }
}
@media screen and (max-width: 480px) and (max-width: 400px) {
  .search_bar {
    padding-right: 70px;
  }
  .bloc-right .bloc-right-blocs .bloc-right-blocs-sublocs1 {
    grid-template-columns: 1fr;
  }
  .bloc_students div, .bloc_schools div, .bloc_courses div, .bloc_incomes div {
    justify-content: center;
  }
  .bloc_students p, .bloc_schools p, .bloc_courses p, .bloc_incomes p {
    text-align: center;
    margin-left: -55px;
  }
  .bloc-chart {
    overflow: auto;
  }
  .bloc-chart #bloc-charts {
    width: 150%;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 480px) and (max-width: 366px) {
  #table {
    max-width: 270px;
  }
}/*# sourceMappingURL=index.css.map */