@use '../Utils/' as u;
@use '../Utils/mixins' as *;

body{
    width: 100%;
    font-size: 16px;
    font-family: u.$font;
    background-color: var(--principalcolor);
}
section{
    display: grid;
    grid-template-columns: 20% auto;
    
}
.left-bloc{
    background-color: var(--principalcolor);
    box-shadow: 0px 0px 1px 0px var(--blackColor);
    h2{
        padding-left: 35px;
        margin-top: 25px;
    }
    .items{
        margin-top: 25px;
        div{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            padding: 10px;
            margin-top: 5px;
            padding-left: 30px;
            &:hover{
                background-color: var(--whiteColor);
            }
        }
        
        .dashboard{
            background-color: var(--whiteColor);
            padding: 10px;
            padding-left: 30px;
        }
    }
}
.header_items{
    gap: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    padding: 15px;
    background-color: var(--whiteColor);
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 1px 0px var(--blackColor);

    .search_bar{
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        input{
            outline: none;
            border: none;
            background: none
        }
    }
}
.nav_bloc{
    @extend .left-bloc;
    display: none;
    .bar_menu{
        @extend .items;
        position: absolute;
        background-color: white;
        margin-top: 109px;
        margin-left: -200px;
        transition: all 0.5s ease;
        box-shadow: 0px 0px 3px 0px var(--gray);
        width: 200px;
        height: 100vh;
        display: inline;
        z-index: 10;
        border-top-left-radius: 10px;
        &.mobile-menu{
          margin-left: 15px;
        }  
    }
}
.bloc-right{
    width: 100%;
    .bloc-right-blocs{
        padding: 15px;
        .bloc-right-blocs-sublocs1{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 10px;
        .bloc_students{
            padding: 15px;
            border-radius: 5px;
            background-color: var(--whiteColor);
            box-shadow: 0px 0px 3px 0px var(--gray);
            div{
                border-left: 4px solid var(--skyblue);
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 25px;
                padding-bottom: 20px;
                padding-left: 8px;
            }
            p{
                padding-left: 15px; 
            }
        }
        .bloc_schools,.bloc_courses,.bloc_incomes{
            @extend .bloc_students;
        } 
        } 
    }
}

@keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
}
.circle-svg {
    display: block;
    min-height: 50%;
    margin-top: 10px;
}
.circle-svg text {
    text-align: center;
    color: var(--blackColor);
    font-size: 8px;
}
.circle-svg path.percent {
    stroke: var(--blackColor);
    fill: none; 
    stroke-width: 2.8; 
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}
.circle-svg path.around {
    stroke: var(--gray);
    fill: none;
    stroke-width: 2.8; 
}
.bloc-right-blocs-sublocs2{
    display: grid;
    grid-template-columns: 48% 50%;
    margin-top: 20px;
    column-gap: 20px;
}
.first_item{
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    background-color: var(--whiteColor);
    box-shadow: 0px 0px 2px 0px var(--gray);
    .item1, .item2, .item3{
        padding-top: 20px;
        @include display_flex;
    }
    .progress_point .item1 h5{
        @include progress_circle;
        background-color: var(--skyblue);
    }
    .progress_point .item2 h5{
        @include progress_circle;
        background-color: var(--blackColor);
    }
    .progress_point .item3 h5{
        @include progress_circle;
        background-color: var(--principalcolor);
    }
}

#bloc-charts{
    height: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px var(--gray);
}

table{
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    margin-top: 20px;
    th, td{
        padding: 4px 4px;
    }
    tbody tr td p{
        img{
            border-radius: 50%;
            border: 2px solid var(--white);
            width: 20px;
        }
    }
    thead tr:nth-child(odd){
        border-top-left-radius: 5px; 
    }
    tbody tr:nth-child(even){
        background-color: var(--principalcolor); 
    }
    tbody tr:nth-child(odd){
        background-color: var(--whiteColor);
    }
    tbody tr:first-child td:first-child{
        border-top-left-radius: 5px;
    }
    tbody tr:first-child td:last-child{
        border-top-right-radius: 5px;
    }
    tbody tr:last-child td:first-child{
        border-bottom-left-radius: 10px;
    }
    tbody tr:last-child td:last-child{
        border-bottom-right-radius: 5px;
    }
}
