@use '../Utils/' as u;

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Pour les liens
a{
    color: var(--blackColor);
    text-decoration: none;
}

//button
button{
    border-radius: 20px;
    border: 1px solid var(--blackColor);
    margin-top: 200px;
    margin-left: 20px;
    padding: 10px 15px;
    font-family: u.$font;
    font-weight: bolder;
    background-color: var(--white);
}
img{
    border-radius: 50%;
    border: 2px solid var(--white);
    width: 25px;
    border: 1px solid var(--gray); 
}
