@use '../Utils/' as u;

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Pour les liens
a{
    color: var(--blackColor);
    text-decoration: none;
}
.header_items{
   i{
   font-size: 1.2rem ;
} 
}

//button
.logout{
    border: none;
    border-radius: 20px;
    margin-top: 220px;
    margin-left: 15px;
    padding: 10px 15px;
    font-family: u.$font;
    font-weight: bolder;
    background-color: var(--whiteColor);
    background-color: var(--blueColor);
    i, a{
        color: var(--whiteColor);
    }
}
img{
    border-radius: 50%;
    border: 2px solid var(--white);
    width: 25px;
    border: 1px solid var(--blackColor); 
}