@use '../Utils/'as u;

@include u.breakpoint(laptop){
    @media screen and (max-width: 900px){
        .header{
            .menu{
                i{
                    display: initial;   
                }
                .nav-menu{
                    display: initial;
                }
                .mobile-menu{
                    margin-left: 0;
                }
            }
        }
        section{
            display: grid;
            grid-template-columns: auto;
        }
        .left-bloc{
            display: none;
        }
    }
}
@include u.breakpoint(tablet){
    .cours-enregistree{
        padding: 10px;

    }
    @media screen and (max-width: 495px){
        .cours-enregistree{
            .first-item{
                .filtre{
                    display: grid;
                    grid-template-columns: auto auto;
                    row-gap: 8px;
                }
            }
        }
        
    }
    @media screen and (max-width:570px){
        .allitems{
            .cours{
                display: flex;
                flex-direction: column;
                gap: 8px;
                align-items: start;
                div{
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    } 
}
@include u.breakpoint(mobile){
    .header{
        padding-right: 10px;
        padding-left: 10px;
    } 
    .cours-enregistree{
        padding: 10px;
        
    } 
    .allitems{
        .items{
            .logout{
                margin-bottom: 10px;
            }
        } 
    }
    @media screen  and (max-width: 405px){
        .cours-enregistree{
            .first-item{
                .filtre{
                    display: grid;
                    grid-template-columns: auto;
                }
            }
        }
        
    }   
}