@use '../Utils/' as u;

@include u.breakpoint(laptop){
    @media screen and (max-width: 910px){
        .container{
            .subContainer{
                display: flex;
                flex-direction: column;
                align-items: start;
                row-gap: 30px;
            }
            .items{
                margin-top: 20px;
            }
        }
    }
    .imageSchool{
        width: 100%;
    }
    button{
        margin-top: 20px;
    }
}
@include u.breakpoint(mobile){
    .container{
        padding: 15px;
    }
}